<a href="/meal/{{id}}" class="meal-card {{#each diets as |diet|}} {{{diet.diet_name}}} {{/each}}">

      <img src="{{image}}" alt="{{format_img_alt image}}" class="meal-card-image">

      <div class="meal-card-text">
        <h3 class="meal-title">{{title}}</h3>
        <p>({{description}})</p>
      </div>

      {{#if diets.length}}
        <div class="meal-card-diets">
          {{#each diets as |diet|}}
              <div class="diet-tag">
                {{ diet.diet_name }}
              </div>
          {{/each}}
        </div>
      {{/if}}

      <div class="meta">
        {{selected_meal}}
      </div>
</a>