<main class="single-meal-container">

  <section class="single-meal-image">
   <img src="/{{meal.image}}" >
  </section>

  <section class="single-meal-details">
    <h3>{{meal.title}}</h3>
    <p>{{meal.description}}</p>

    {{!-- HARD-CODED BUTTON: DELETED ONCE LOGIN FUNCTIONALITY IS WORKING PROPERLY --}}
    <form>
        <div>
          <button type="button" class="upvote-btn">Add Meal</button>
        </div>
    </form>

    {{!-- CONDITIONAL BUTTON: USED ONCE LOGIN FUNCTIONALITY IS WORKING PROPERLY --}}
    {{#if loggedIn}}
      <form>
        <div>
          <button type="button" class="upvote-btn">Select Meal</button>
        </div>
      </form>
      {{/if}}

    <ul>
      <li><p>{{meal.calories}}</p>
          <p>Calories</p>
      </li>
      <li><p>{{meal.fat}}</p>
          <p>Fat</p>
      </li>
      <li><p>{{meal.protein}}</p>
          <p>Protein</p>
      </li>
      <li><p>{{meal.total_carbohydrate}}</p>
          <p>Total Carbs</p>
      </li>
      <li><p>{{meal.total_carbohydrate}}</p>
          <p>Sugars</p>
      </li>
    </ul>

    {{#if meal.gf}}
      <p>Gluten Free</p>
    {{/if}}

    <details>
      <summary>Ingredients</summary>
        <p>{{meal.ingredients}}</p>
    </details>

  </section>



  {{#if loggedIn}}
    <script src="/javascript/comment.js"></script>
    <script src="/javascript/upvote.js"></script>
  {{/if}}
</main>